.expense-date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 6rem;
    height: 6rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
}

.expense-date_day {
    font-weight: 700;
}

.expense-date_year {
    font-weight: 500;
}

.expense-date_month {
    font-weight: 500;
}


